/*estilo terminos y condiciones*/
.terminos-condiciones{
padding: 2rem;
margin: 2rem;
    h1{
    text-align: $align;
    font-size:$text-big;
    color:$color-texto;
    }
    h2{
        text-align: $alignl;
        font-size: $text-size-products;
    }
  p{
    text-align: $alignl;
    color: $color-texto;
  }
    a{
        font-size: $text-size-p;
    }
}

